@model Movie

<style>
    .btn-primary {
        padding: 5px 7px;
        color: white;
        background-color: green;
        border-radius: 5px;
        text-decoration: none;
        margin: 1rem;
        /* float: right; */
        /* transform: translateY(9rem);
        margin-right: 1rem; */
        width: 20%;
    }

    .btn-secondary {
        padding: 5px 7px;
        color: white;
        background-color: gray;
        border-radius: 5px;
        text-decoration: none;
        margin: 1rem;
        width: 20%;
    }
    a{
        text-decoration: none;
    }
</style>

<div class="row">
    <div class="col-8 offset-2">
        <div class="card mb-3" style="max-width: 50rem;">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                                <a class="text-white float-end"> <i class="bi bi-pencil-square"></i></a>
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="@Model.ImageUrl" style="width:100%;" />
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div class="card-body">
                        <p class="card-text"> <b>Cinema: </b> 
                            <a asp-action="Details" asp-controller="Cinema" asp-route-id="@Model.Cinema.Id">@Model.Cinema.Name</a></p>
                        <p class="card-text">
                            <b>Producer: </b>
                            <a asp-action="Details" asp-controller="Producer" asp-route-id="@Model.Producer.Id">@Model.Producer.FullName</a>
                        </p>
                        <hr />
                        <p class="card-text"> <b>Desription: </b>@Model.Description </p>

                        <p class="card-text">
                            <b> Actors: </b>
                            <hr />
                            <div class="row">
                                @foreach(var i in Model.Actor_Movies)
                                {
                                    <div class="column text-center">
                                        <img src="@i.Actor.ProfilePictureUrl" class="rounded-circle border-info" style="max-width: 10rem;"/>
                                        <br />
                                        <a asp-controller="Actor" asp-action="Details" asp-route-id="@i.Actor.Id">@i.Actor.FullName</a>
                                    </div>
                                }
                            </div>
                        </p>
                    </div>
                    <div class="row">
                    <a class="btn-secondary mt-auto"> <i class="bi bi-arrow-left"> ToList</i></a>
                    <a class="btn-primary mt-auto ms-auto"> <i class="bi bi-cart-plus">ToCart</i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>