@model IEnumerable<Movie>

<link rel="stylesheet" href="~/css/movies.css" />
<style>
    .Image-Size {
        width: 14rem;
        height: 20rem;
    }

    .font-size-sm {
        font-size: 1rem;
    }

    .stylized-p-border {
        border: .1rem solid black;
        border-radius: 5px;
        padding: 1px;
    }
</style>
<div class="row">
    @foreach (var item in Model)
    {
        @* TODO add scss hover design in every card to show more information(descriptn, enddate) *@
        <div class=" mb-3" col-lg-3>
            <div class="card border-0" style="max-width: 16rem;">
                <div class="row g-0" id="features">
                    <div class="card-body box-container">
                        <div class="card-img box mb-1">
                            <img src="@item.ImageUrl" class="Image-Size" />
                            <p> @item.Cinema.Name</p>
                            <a class="btn-primary"> <i class="bi bi-cart-plus">ToCart</i></a>
                            <a class="btn-secondary" asp-action="Details" asp-route-id="@item.Id"> <i class="bi bi-info-circle">Details</i></a>
                        </div>

                        <div class="d-flex">
                            <h5 class="text-md-start mb-1">@item.Name</h5>
                            <p class="ms-auto stylized-p-border">Movie</p>
                        </div>

                        <div class="d-flex text-sm-start font-size-sm">
                            <p>$@item.Price -- </p> <p>@item.StartDate</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>